/Algorithms/Algorithms.Core/obj
/Algorithms/Algorithms.Core/bin

/Algorithms/Algorithms.UnitTests/*.user

/Algorithms/Algorithms.UnitTests/obj
/Algorithms/Algorithms.UnitTests/bin

/Algorithms/*.suo

/Algorithms/TestResults
/Python/core/*.pyc

/CSharp/Algorithms.Core/obj
/CSharp/Algorithms.Core/bin

/CSharp/Algorithms.UnitTests/obj
/CSharp/Algorithms.UnitTests/bin

/CSharp/*.suo

/CSharp/TestResults

/CSharp/Algorithms.UnitTests/*.user
